@if (!error&& dataSource?.data?.length){
<article class="container">
    <h3>Personas</h3>
    @if (loading){
    <mat-spinner></mat-spinner>
    } @else{
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="persona">
        <th mat-header-cell *matHeaderCellDef>Persona</th>
        <td mat-cell *matCellDef="let element">{{ element.persona }}</td>
      </ng-container>

      <ng-container matColumnDef="numberOfDevices">
        <th mat-header-cell *matHeaderCellDef>Devices</th>
        <td mat-cell *matCellDef="let element">
          {{ element.numberOfDevices }}
        </td>
      </ng-container>

      <ng-container matColumnDef="blocked">
        <th mat-header-cell *matHeaderCellDef>Blocked</th>
        <td mat-cell *matCellDef="let element">{{ element.blocked }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    } @if (dataSource.data.length){
    <section class="pagination">
      <button
        color="primary"
        appPreventDoubleClick
        (debounceClick)="previousPage()"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span>Page {{ page }}</span>
      <button
        color="primary"
        appPreventDoubleClick
        (debounceClick)="nextPage()"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </section>
    }
</article>

}
