.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem 2rem;
  box-shadow: 1em;
  background-color: white;
  overflow-y: auto;
}

.container h3 {
  left: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.error-container {
  text-align: center;

  background-color: var(--tertiary);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  color: red;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
