article {
  display: flex;
  gap: 1rem;
  align-items: center;

  text-align: left;
}

img {
  width: 5em;
  justify-self: end;
}

p {
 color: var(--tertiary);
 font-size: x-large;
}

p > span {
  display: block;
  color: var(--primary);
  font-weight: bold;
}
