/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #d25073;
  --secondary: #1e1f1f;
  --tertiary: #ffffff;
}

.fliter-button {
  margin-left: 0.5rem;
  background-color: #d25073 !important;
}

.error-container {
  text-align: center;

  background-color: var(--tertiary);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  color: red;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
