/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #509ad2;
  --secondary: #1e1f1f;
  --tertiary: #ffffff;
}

.fliter-button{
  margin-left: 0.5rem;
}
